[Unit]
Description= TCP based http server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart= /usr/local/bin/httpServer

[Install]
WantedBy=multi-user.target
Alias=httpWebServer.service
